<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>
    <h1>前后端分离登录</h1>
    <div id="login">
        Name:
        <input type="text" required v-model="name" /> Password:
        <input type="text" required v-model="pass" />
        <button id="btn_submit" v-on:click="submit">Submit</button>
        <p>{{error}}</p>
    </div>


    <script src="../js/lib/vue.js"></script>
    <script src="../js/lib/jquery-1.12.4.js"></script>
    <script src="../js/util/network.js"></script>

    <script type="text/javascript">

        var login = new Vue({
            el: '#login',
            data: {
                name: "",
                pass: "",
                error: ""
            },
            methods: {
                submit: function () {
                    if (this.name === "" || this.pass === "") {
                        this.error = "not blank";
                    } else {
                        post("/user/login", {
                            username: name,
                            password: pass
                        }, function (re) {
                            console.log(re)
                            window.location.href = "./index.html";
                        });
                    }
                }
            }
        });
    </script>
</body>

</html>